<%= image_tag(@team.team_logo_url, width: '100', :class => 'small_team_logo') %>
<% @season = @team.team_seasons.find_by(season: current_season) %>
<h1 class="center"><%= @team.school + " " + @team.name %></h1>
<% @record = @season.wins.to_s + "-" + @season.losses.to_s %>
<% @conf_record = @season.conference_wins.to_s + "-" + @season.conference_losses.to_s %>
<h5 class="center"><%= @record + " (" + @conf_record + ")" %>
  <span> &#8226; </span><%=@team.conference.try(:name) %>
</h5>
<% if current_user.admin? %>
  <%= link_to 'edit team', edit_team_path(@team), class: "edit-team-link" %>
<% end %>
<div class="row">
  <div class="col-md-6">  
    <h1 class="center">Team Stats</h1>
    
    <table class="table table-sm">
      <tbody>
        <tr>
          <th colspan="2" class="center">Shooting</th>
        </tr>
          <tr>
            <th>FG%</th>
            <td><%= @season.field_goals_percentage %><small>
              <%=rank("field_goals_percentage", @season.field_goals_percentage)%></small></td>
          </tr>
          <tr>
            <th>EFG%</th>
            <td><%= @season.effective_field_goal_percentage %><small>
              <%=rank("effective_field_goal_percentage", @season.effective_field_goal_percentage)%></small></td>
          </tr>
          <tr>
            <th>2P%</th>
            <td><%= @season.two_pointers_percentage %><small>
              <%=rank("two_pointers_percentage", @season.two_pointers_percentage)%></small></td>
          </tr>
          <tr>
            <th>3P%</th>
            <td><%= @season.three_pointers_percentage %><small>
              <%=rank("three_pointers_percentage", @season.three_pointers_percentage)%></small></td>
          </tr>
          <tr>
            <th>FT%</th>
            <td><%= @season.free_throws_percentage %><small>
              <%=rank("free_throws_percentage", @season.free_throws_percentage)%></small></td>
          </tr>
          <tr>
            <th>Reb/Game</th>
            <td><%= (@season.rebounds / @season.games.to_f).round(1) %></td>
          </tr>
      </tbody>
    </table>
  </div>  
  
  <div class="col-md-6">
    <h1 class="center">Schedule</h1>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Date</th>
          <th>Game</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <tr>
            <td><%= game.date %></td>
            <td><%= game.away_team + "@" + game.home_team %></td>
            <td><%= game.away_score.to_s + "-" + game.home_score.to_s %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>