<div class="row page-content">
  <div class="col-md-4">
    <h1 class="center">Top 25</h1>
    
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr class="thead-dark">
          <th scope="col">#</th>
          <th scope="col">AP Rank</th> 
          <th scope="col">School</th>
          <th scope="col">W-L</th>
          <th scope="col">Conf</th>
        </tr>
      </thead>
      <tbody>
        <% x = 0 %>
        <% @team_seasons.each do |season| %>
          <% if !season.team.ap_rank.nil? %>
            <tr class="data-row">
              <% x = x + 1 %>
              <th><%= x %></th>
              <td><%= season.ap_rank %></td>
              <td><%= link_to(season.school, season.team) %></td>
              <td><%= season.wins.to_s + "-" + season.losses.to_s %></td>
              <% if season.team.conference %>
                <td><%= link_to season.team.conference.key, season.team.conference %></td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Complete Rankings", rankings_path %>
  </div>
  
  <div class="col-md-8">
    <h1 class="center">Latest News & Analysis</h1>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a molestie lacus. 
      Suspendisse eleifend placerat metus in blandit. Maecenas a bibendum tortor, a facilisis lectus. 
      Phasellus sagittis, est in hendrerit tincidunt, quam ligula dictum tellus, et malesuada mi arcu ut ligula. 
      Praesent porta risus nibh, vitae placerat odio consectetur at. Praesent dapibus et nisi nec convallis. 
      Nullam sollicitudin tempus nisi id molestie. Orci varius natoque penatibus et magnis dis parturient montes, 
      nascetur ridiculus mus. Integer dignissim volutpat tortor, nec dignissim sem volutpat ut. 
      Ut condimentum congue arcu vel sodales.</p>

      <p>Morbi viverra, ipsum quis porta condimentum, magna felis sodales arcu, sit amet vestibulum lacus metus id velit.
      Vestibulum vel pellentesque mi. Nam euismod nisl molestie, tristique nibh non, porta eros. Nulla in libero neque. 
      Curabitur laoreet et lorem id fringilla. Praesent bibendum imperdiet porttitor. Mauris sagittis in erat eu egestas.</p>
      
    </div>
    <h1 class="center">Today's Games</h1>
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr class="thead-dark">
          <th scope="col">Game</th>
          <th scope="col">Time</th>
          <th scope="col">Spread</th>
          <th scope="col">O/U</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <tr class="data-row">
            <% if game.away_team %>
              <% awayname = game.away_team.school %>
            <% else %>
              <% awayname = game.away_team_key %>
            <% end %>
            <td><%= awayname.to_s + " @ " + game.home_team.school %></td>
            <td><%= game.date_time.strftime("%I:%M %p") %></td>
            <td><%= game.point_spread %></td>
            <td><%= game.over_under %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


