<% provide(:title, 'Create Your Account') %>
<div id="account-setup">
  <h1>Create Your Account</h1>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
        
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
        
        <%= f.label :email %>
        <%= f.text_field :email %>
        
        <%= f.label :password %>
        <%= f.password_field :password %>
        
        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation %>
        
        <%= f.submit "Continue", class: "faded-button" %>
      <% end %>
    </div>
  </div>
</div>
