<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-toggleable-md">
      <div class="container">
        <%= link_to image_tag("Prophet_Logo.jpg", alt: "Prophet logo", width: 200 ),
        root_url %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign Up", '# '%></li>
            <li><%= link_to "Log In", '# '%></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %> 
    </div>
  </body>
</html>
