<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render 'layouts/header/shim' %>
    <%= csrf_meta_tags %>
  </head>
  <% if controller_name == "users" && action_name == "new" %>
    <%= render 'layouts/header/newaccount' %>
  <% elsif controller_name == "static_pages" && action_name == "plan" %>
    <%= render 'layouts/header/newaccount' %>
  <% elsif controller_name == "sessions" && action_name == "new" %>
    <%= render 'layouts/header/login' %>
  <% elsif controller_name == "sessions" && action_name == "create" %>
    <%= render 'layouts/header/login' %>
  <% elsif logged_in? %>
    <%= render 'layouts/header/loggedin' %>
  <% elsif %>
    <%= render 'layouts/header/loggedout' %>
  <% end %>
  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %> 
      <%= render 'layouts/header/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
