<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render 'layouts/header/shim' %>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto+Condensed:400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
  </head>
  <% if controller_name == "users" && action_name == "new" %>
    <%= render 'layouts/header/newaccount' %>
  <% elsif controller_name == "static_pages" && action_name == "plan" %>
    <% if !logged_in? %>
      <%= render 'layouts/header/newaccount' %>
    <% else %>
      <%= render 'layouts/header/login' %>
    <% end %>
  <% elsif controller_name == "sessions" && action_name == "new" %>
    <%= render 'layouts/header/login' %>
  <% elsif controller_name == "sessions" && action_name == "create" %>
    <%= render 'layouts/header/login' %>
  <% elsif logged_in? %>
    <%= render 'layouts/header/loggedin' %>
  <% elsif %>
    <%= render 'layouts/header/loggedout' %>
  <% end %>
  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %> 
      <%= render 'layouts/header/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    
    <!--This bootstrap version allows dropdowns to work after second click but carousel doesn't work when revisiting page.-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!--This bootstrap version has dropdowns which randomly won't work until another controller is visited.-->
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
  </body>
</html>
